
.form{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top:88px;
  height: 64px;
  position: relative;

}
.form__input{
  width: 100%;
  border-radius: 100px;
  border: none;
  box-sizing: border-box;
  padding-left: 24px;
  font-family: 'Roboto',sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #1A1B22;
}
.form__input::placeholder{
  color:#B6BCBF ;
}
.form__input:focus{
  outline: none;
}
.form__error-message{
  position: absolute;
  bottom: 4px;
  left: 25px;
  text-decoration: blink;
	animation-name: blinker;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	animation-direction: alternate;
  font-family: 'Inter',sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #FF0000;
  height: 14px;

}
@keyframes blinker {
	from {
		opacity: 1.0;
	}
	to {
		opacity: 0.0;
	}
}
.form__button{
  margin-left: -60px;
  border-radius: 100px;
  min-width: 168px;
  background-color: #2F71E5;
  color: white;
  border: none;
  font-family: 'Roboto',sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  cursor: pointer;
  transition: background-color .1s ease-in-out;
}
.form__button:hover{
  background-color:#347EFF ;
}
.form__button:active{
  background-color:#2A65CC ;
}
.form__button:disabled{
  background-color: #E6E8EB;
  color: #B6BCBF;
}
@media screen and (max-width:1300px) {
  .form{
    margin-top: 60px;
    height: 56px;
  }

}

@media screen and (max-width:1150px) {

  .form{
    margin-top: 48px;
  }
  .form__error-message{
    max-width: 250px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

  }


}


@media screen and (max-width:500px) {

  .form__button{
    margin-left: 0px;
    min-height: 56px;
    margin-top: 16px;

  }
  .form{
    flex-direction: column;
    height:128px;
    margin-top: 128px;
  }
  .form__input{
    min-height: 56px;
  }
  .form__error-message{
    bottom: 76px;

  }

}




