.card{

  max-width: 400px;
  background-color: white;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
}
.card__keyword{
  position: absolute;
  top: 24px;
  left: 24px;
  background-color: white;
  height: 40px;
  width: 87px;
  padding: 8px 22px;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  align-items: center;
  font-family: 'Roboto-500',sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #000000;


}
.card__button{
  position: absolute;
  height: 40px;
  width: 40px;
  border-radius: 8px;
  top: 24px;
  right: 24px;
  border: none;
  background-image: url('../../images/card-button.svg') ;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  background-color: white;
}
.card__button_type_saved-cards{
  background-image: url('../../images/trashicon.svg');
}
.card__button_is-clicked{
  background-image: url('../../images/card-button3.svg');
}
.card__button_is-hover{
  background-image: url('../../images/card-button2.svg');
}
.card__message{
  position: absolute;
  padding: 13px 30px;
  top:24px;
  right:69px;
  background-color: white;
  border-radius: 10px;
  font-family: 'Roboto-500',sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
  display: none;


}
.card__message_is-visible{
  display: block;
}


.card__text-wrapper{
  display: flex;
  flex-direction: column;
  padding: 20px 24px;
  box-sizing: border-box;
  margin: 0;
}
.card__image{
  width: 100%;
  border-top-left-radius:  10px;
  border-top-right-radius:  10px;
}
.card__date{
  margin:0;
  font-family:'Source Sans Pro', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #B6BCBF;
}
.card__title{
  margin-top:12px;
  font-family: 'Roboto-slab',sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  color: #1A1B22;
  margin-bottom: 0px;
}
.card__subtitle{
  margin-top:16px;
  font-family: 'Roboto',sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #1A1B22;
  margin-bottom: 0px;
}
.card__caption{
  margin-top: 18px;
  font-family: 'Roboto-slab',sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: #B6BCBF;


}
@media screen and (max-width:1050px) {
  .card{
    max-width: 224px;

  }
  .card__message{
    padding: 13px 10px;
    top: 8px;
    right: 51px
  }

  .card__text-wrapper{
    padding: 16px;
  }
  .card__title{
    font-size: 22px;
    line-height: 24px;
  }
  .card__subtitle{
    height: 88px;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 192px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;

  }
  .card__button{
    top:8px;
    right: 8px;
  }
  .card__keyword{
    top: 8px;
    left: 8px;
  }
}
@media screen and (max-width:770px) {
  .card__subtitle{
    margin-top: 10px;
  }
  .card__caption{
    margin-top:12px;
  }
  .card{
    max-width: 288px;
  }

}
@media screen and (max-width:770px) {

}
@media screen and (max-width:320px) {
  .card__title{
    margin-top: 10px;
    height: 48px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    -webkit-box-orient: vertical;
  }
  .card__subtitle{
    margin-top: 14px;
    width: 100%;
  }
  .card__caption{
    margin-top: 8px;
  }
  .card__button{
    top:16px;
    right: 16px;
  }
  .card__keyword{
    top: 16px;
    left: 16px;
  }
}